<script>
    import { clickedContainerId } from "./stores"
    import { createEventDispatcher } from "svelte"

    const dispatch = createEventDispatcher()
    
    export let containerId = null
    export let children = null
    export let name = null
    export let parentId = null

    export let width = "800px"
    export let height = "100px"
    export let background = "white"    

    export let flexflow = "row"
    export let flex = "initial"
    export let justifycontent = "flex-start"
    export let alignitems = "center"
    export let gap = "initial"
    

    
    
    function showInspector(event) {
        $clickedContainerId = containerId
        dispatch("message", {
            containerId: containerId,
        })
    }
</script>

<div
    on:click={() => {
        children.length ? null : showInspector()
    }}
    style:--background={background}
    style:--width={width}
    style:--height={height}
    style:--flexflow={flexflow}
    style:--flex={flex}
    style:--justifycontent={justifycontent}
    style:--alignitems={alignitems}
    style:--gap={gap}
>
    {#if children.length}
        {#each children as child}
            <svelte:self on:message {...child} />
        {/each}
    {/if}
</div>

<style>
    div {
        width: 100%;
        height: var(--height);
        max-width: var(--width);
        background: var(--background);
        flex-flow: var(--flexflow);
        justify-content: var(--justifycontent);
        flex: var(--flex);
        align-items: var(--alignitems);
        gap: var(--gap);
        display: flex;
        color: black;
    }
</style>
