<script>
    import { nodeTree } from "./stores";
    import Container from "./Container.svelte";    
    
</script>

<div
    class="flexcanvas
    h-screen w-auto 
    grow flex place-items-center place-content-center
    flex-col
    "
>
    {#each $nodeTree as nodeItem}
        <Container {...nodeItem} />
    {/each}
</div>

<style>
    .flexcanvas{
        background-color: #121212;
    }
</style>