<script>
import {createEventDispatcher} from 'svelte'

const dispatch = createEventDispatcher()
export let target
export let value


function hasChanged(){
    dispatch('message',{
        target: target,
        value: this.value
    })
}
</script>

<input on:change={hasChanged} {value} />