<script>
    
    
import InputOnChange from "./InputOnChange.svelte";
import { nodeTree, clickedContainerId } from "./stores";




    let nodeItemContainer = {};

    function findObject(item) {
        if (item.containerId === $clickedContainerId) nodeItemContainer = item;

        if (item.children.length) {
            item.children.map(findObject);
        }
    }

    function inputHasChanged(event){
        let value = event.detail.value
        let target = event.detail.target
        $nodeTree.map(editObject);
        function editObject(item) {
            if (item.containerId === $clickedContainerId) {
                item[target] = value;
                
            }
            if (item.children.length) {
                item.children.map(editObject);
            }
        }
        $nodeTree = $nodeTree;
        
        
    }

   

    $: if ($clickedContainerId) $nodeTree.map(findObject);
</script>

{#if $clickedContainerId}
    <div
        class=" 
inspector-view
h-full grow text-left p-6
w-80 min-w-[220px] max-w-[220px]"
    >
        <p>Size</p>
        <div class="flex flex-col justify-between">
            <span class="">Width</span>
            <InputOnChange value={nodeItemContainer.width} on:message={inputHasChanged} target="width" />
            
            <span class="">Height</span>
            <InputOnChange value={nodeItemContainer.height} on:message={inputHasChanged} target="height" />
        </div>
        <div class="flex mt-4 flex-start">
            <span class="">Flex</span>
            <InputOnChange value={nodeItemContainer.flex} on:message={inputHasChanged} target="flex" />
        </div>
        <div class="flex flex-start">
            <span class="">Flex Flow</span>
            <InputOnChange value={nodeItemContainer.flexflow} on:message={inputHasChanged} target="flexflow" />
        </div>
        
        <div class="flex flex-start">
            <span class="">Background</span>
            <InputOnChange value={nodeItemContainer.background} on:message={inputHasChanged} target="background" />
        </div>
        <p>Inner Layout</p>
        <div class="flex justify-between">
            <button name="row" class="">Row</button>
            <button name="column" class="">Column</button>
        </div>
        <div class="flex mt-4 flex-start">
            <span class="mr-2">Justify</span>
            <InputOnChange value={nodeItemContainer.justifycontent} on:message={inputHasChanged} target="justifycontent" />
        </div>
        <div class="flex flex-start">
            <span class="">Align</span>
            <InputOnChange value={nodeItemContainer.alignitems} on:message={inputHasChanged} target="alignitems" />
        </div>
        <div class="flex flex-start">
            <span class="">Gap</span>
            <InputOnChange value={nodeItemContainer.gap} on:message={inputHasChanged} target="gap" />
        </div>
    </div>
{/if}

<style>
    .inspector-view{
        background-color: #262626 ;
    }
</style>