<script>
    import Navigation from "./Navigation.svelte";
    import { nodeTree, clickedContainerId } from "./stores";

</script>

{#if $clickedContainerId}
    <div
        class="navigation-panel 
h-full p-6 w-80 min-w-[220px] max-w-[220px]"
    >
        {#each $nodeTree as nodeItem}
            <Navigation
                name={nodeItem.name}
                containerId={nodeItem.containerId}
                children={nodeItem.children}
                parentId={nodeItem.parentId}
            />
        {/each}
    </div>
{/if}

<style>
    .navigation-panel{
        background-color: #262626;
    }
</style>