<script>
    import {
        clickedContainerId,
        nodeTree,
        nodeTreeCount,
    } from "./stores";
    export let name;
    export let containerId;
    export let children;
    export let parentId;

    function templateNode () {
        this.containerId= null
        this.name= "Container"
        this.background= "white"
        this.height= "100px"
        this.width= "800px"
        this.flexflow= "row"
        this.parentId= null
        this.children= []
        this.flex = "initial"
        this.justifycontent = "flex-start"
        this.alignitems = "center"
        this.gap = "initial"
    }
    
    
    let nodeItemContainer = {};
    let index = null;
    let count;
    let itemContainer;

    function showInspector(event) {
        $clickedContainerId = containerId;
    }

    //Main add container flow

    function addContainer(event) {
        $clickedContainerId = containerId;
        $nodeTree.map(findObjectParent);
        itemContainer = getItemIndex(nodeItemContainer);
        updateNodeTreeCount();
        let node = updateTemplateNode();
        itemContainer.splice(index+1, 0, node);
        $nodeTree = $nodeTree;
    }
    //Main add container flow

    function addSubContainer(event) {
        $clickedContainerId = containerId;
        
        $nodeTree.map(findObject);
        updateNodeTreeCount();
        let node = updateTemplateNode();
        nodeItemContainer.children.push(node);
        console.log(containerId)
        $nodeTree = $nodeTree;
        
    }

    function findObject(item) {
        if (item.containerId === containerId) return nodeItemContainer = item;
        if (item.children.length) {
            item.children.map(findObject);
        }
    }

    function findObjectParent(item) {
        if (item.containerId === parentId) nodeItemContainer = item;
        if (!parentId) {
            if (item.containerId === containerId) nodeItemContainer = $nodeTree;
        }
        if (item.children.length) {
            item.children.map(findObjectParent);
        }
    }

    function getItemIndex(item) {
        if (item.children) {
            index = nodeItemContainer.children.findIndex((object) => {
                return object.containerId === containerId;
            });
            return nodeItemContainer.children;
        } else {
            index = $nodeTree.findIndex((object) => {
                return object.containerId === containerId;
            });
            return $nodeTree;
        }
    }

    function updateTemplateNode() {
        let insertNode = new templateNode()
        insertNode.containerId = count;
        insertNode.parentId = nodeItemContainer.containerId || 0;
        console.log(insertNode.containerId)
        return insertNode;
    }

    function updateNodeTreeCount() {
        $nodeTreeCount += 1;
        count = $nodeTreeCount + 1;
    }
</script>

<div class="text-left">
    <span class="cursor-pointer"
        ><span on:click={showInspector}>{name}</span>
        <span on:click={addContainer}>➕</span> <span on:click={addSubContainer}>☊</span> </span
    >
    <ul class="m-0">
        {#each children as file}
            <li class="cursor-auto">
                <svelte:self
                    name={file.name}
                    containerId={file.containerId}
                    children={file.children}
                    parentId={file.parentId}
                />
            </li>
        {/each}
    </ul>
</div>
