<script>
  import FlexCanvas from "./lib/FlexCanvas.svelte";
  import Inspector from "./lib/Inspector.svelte";
import NavigationPanel from "./lib/NavigationPanel.svelte";
</script>

<main>
  <NavigationPanel/>
  <FlexCanvas />
  <Inspector />
</main>

<style>
  main {
    flex-direction: row;
    display: flex;
  }
</style>
